<div class="pdf">
  <%= render "pdfs/general_information" %>
  <%= render "pdfs/education_and_training" %>
  <%= render "pdfs/medical_licensing_examinations" %>
  <%= render "pdfs/professional_licenses" %>
  <%= render "pdfs/board_certifications" %>
  <%= render "pdfs/other_certifications" %>
  <%= render "pdfs/employment_history" %>
  <%= render "pdfs/academic_appointments" %>
  <%= render "pdfs/hospital_affiliations" %>
  <%= render "pdfs/healthcare_facility_affiliations" %>
  <%= render "pdfs/peer_references" %>
  <%= render "pdfs/professional_liability_insurance_details" %>
  <%= render "pdfs/ppd_or_vaccinations" %>
  <%= render "pdfs/research_and_public_benefit_data" %>
</div>
