<h3 class="pdf__section-title">Professional Liability Insurance Carrier</h3>
<%= render "pdfs/attribute_details",
    label: "Malpractice type",
    value: @person.professional_liability_insurance_carrier.malpractice_type  %>

<%= render "pdfs/attribute_details",
    label: "Organization name",
    value: @person.professional_liability_insurance_carrier.organization_name  %>

<%= render "pdfs/attribute_details",
    label: "Organization address",
    value: @person.professional_liability_insurance_carrier.organization_address  %>

<%= render "pdfs/attribute_details",
    label: "Organization phone number",
    value: @person.professional_liability_insurance_carrier.organization_phone_number  %>

<%= render "pdfs/attribute_details",
    label: "Organization fax number",
    value: @person.professional_liability_insurance_carrier.organization_fax_number  %>

<%= render "pdfs/attribute_details",
    label: "Organization email address",
    value: @person.professional_liability_insurance_carrier.organization_email_address  %>

<%= render "pdfs/attribute_details",
    label: "Contact person first name",
    value: @person.professional_liability_insurance_carrier.contact_person_first_name  %>

<%= render "pdfs/attribute_details",
    label: "Contact person last name",
    value: @person.professional_liability_insurance_carrier.contact_person_last_name  %>

<%= render "pdfs/attribute_details",
    label: "Contact person role",
    value: @person.professional_liability_insurance_carrier.contact_person_role  %>

<%= render "pdfs/attribute_details",
    label: "Contact person phone number",
    value: @person.professional_liability_insurance_carrier.contact_person_phone_number  %>

<%= render "pdfs/attribute_details",
    label: "Contact person fax number",
    value: @person.professional_liability_insurance_carrier.contact_person_fax_number  %>

<%= render "pdfs/attribute_details",
    label: "Contact person email address",
    value: @person.professional_liability_insurance_carrier.contact_person_email_address  %>